@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
/* font-family: 'Tangerine', cursive; */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header {
  /* font-family: "Lato", sans-serif; */
  background-color: cornflowerblue;
  height: 80px;
  width: 100%;
  color: white;
}
nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 3vw;
}
li a {
  /* border: 4px solid cornflowerblue; */
  height: 26px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li a:hover {
  animation: button 1s ease-in-out 1;
  background-color: white;
  color: cornflowerblue;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  margin: 0 2vw 0 -2vw;
  display: flex;
  align-items: center;
}
.logo p {
  margin: 30px;
  font-weight: bold;
  font-style: italic;
}
.logo img {
  height: 50px;
  border-radius: 30px;
}
.search input {
  margin: 0 100px 0 0;
  width: 20vw;
  height: 27px;
  border-radius: 5px;
}
input:hover {
  animation: search 1s ease-in-out 1 both;
  width: 30vw;
}
main {
  min-height: calc(100vh - 80px - 15vh);
}
.maintitle {
  display: flex;
}
.title p {
  color: gray;
  line-height: 1.5;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 90px;
}
.img {
  margin: 0 3vw;
}
.img img {
  height: 360px;
  margin: 15vh 0;
  border-radius: 20px;
}
.center {
  font-weight: bold;
  color: cornflowerblue;
  display: flex;
  justify-content: center;
}
.line1 {
  background-color: gray;
  height: 130px;
  width: 10px;
  margin: 0 5vw 0px;
}
.allbooks p {
  line-height: 1.625;
  color: gray;
}
.allbooks {
  display: flex;
  height: 50vh;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  background-color: cornflowerblue;
  animation: button 1s ease-in-out 1;
}
.btn a {
  border: 4px solid cornflowerblue;
  height: 26px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn a:hover {
  animation: button 1s ease-in-out 1;
  background-color: white;
  color: cornflowerblue;
  border-color: white;
}
.solution {
  text-align: center;
}
.solution h2 {
  margin: 10px;
}
.heading {
  color: cornflowerblue;
  text-align: center;
}
.slider{
  display: flex;
  justify-content: center;
  width: 100vw;
}
.slider img{
  height: 50vh;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  height: 15vh;
}
